body {
  font-family: Arial, sans-serif;
  background-color: #e8f4f8;
  color: #333;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #ffcc00;
}

button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 10px;
}

button:hover {
  background-color: #5cbf2a;
}

.filters input {
  margin: 5px;
  padding: 10px;
}

#character-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: left;
  background-color: #fff;
}

.character img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

#error-message {
  color: red;
  margin-top: 20px;
}
